body {
    background-image: url(Images/hatter.jpg);
}
#cim {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fokep {
    margin: auto;
    padding: 0;
    display: block;
    width: 300px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-right: 10cm;
    margin-left: 10cm;
    margin-top: 1cm;
    text-align: center;
    line-height: 0.75cm;
}
a {
    text-decoration: none;
    color: lightgoldenrodyellow;
}
a:hover {
    text-decoration: underline;
    color: goldenrod;
}
hr {
    width: 80%;
}
table {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    text-align: center;
    color: white;
    margin: auto;
    padding-top: 0.25cm;
}
#elerh {
    color: goldenrod;
    padding-bottom: 0.25cm;
    font-size: 1cm;
}
#email {
    padding-top: 0.25cm;
}
#dc {
    padding-top: 0.25cm;
}